@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Inter', system-ui, sans-serif;
  --font-geist-mono: ui-monospace, monospace;
}

body {
  min-height: 100vh;
}
